body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: rgba(170, 198, 208, .30);
}

/* --------------------Background landing------------------------ */

header {
  background-image: url("../img/MacroWoods-red.jpg");
  height: 50vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.shadow {
 -moz-box-shadow:    inset 0 0 170px rgba(0, 0, 50, .5);
 -webkit-box-shadow: inset 0 0 170px rgba(0, 0, 50, .5);
 box-shadow:         inset 0 0 170px rgba(0, 0, 50, .5);
}

/* -----------------------Nav Styling--------------------------- */

nav ul {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-size: 1em;
  list-style-type: none;
  margin: 0 0 10vh 0;
  padding: 0;
  overflow: hidden;
  background-color: #37474f;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #eceff0;
  text-align: center;
  font-size: 16px;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  color: #d41f26;
  background-color: #eceff0;
}

nav .active {
  color: #d41f26;
  background-color: #eceff0;
}


/* ------------------------------------------------------------ */



.content {
  max-width: 600px;
  margin: 0 auto 20px;
  position: relative;
  padding-bottom: 10vh;
}

h1, h3 {
  font-family: 'Lobster', cursive;
}

h1 {
  color: #d4d9db;
  text-shadow: 5px 5px 7px rgba(52, 44, 44, 0.5);
  font-weight: 700;
  font-size: 4em;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #37474f;
  margin-bottom: 12vh;
}

.headertext {
  color: #d4d9db;
  text-shadow: 5px 5px 7px rgba(52, 44, 44, 0.8);
}

h4.bars {
  margin-bottom: 2vh;
}

h3 {
  color: #d41f26;
  font-weight: 700;
  font-size: 2em;
  margin: 0 0 2vh 2vw;
}

p {
  margin: 5vh 2vw 5vh 2vw;
  font-weight: 300;
  color: #37474f;
}


p .resume {
  text-decoration: none;
  color: #d41f26;
  font-weight: 700;
}

h4 .resume {
  text-decoration: none;
  color: #d41f26;
}

h3.spacer {
  margin-top: 150px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(84, 110, 122, .15);
  margin: 1em 0;
  padding: 0;
}

img.center {
  margin-top: 25px;
	max-width: 100%;
	border-radius: 3px;
	box-shadow: 2px 2px 5px rgba(52, 44, 44, 0.3);
}
