/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  background-image: url("../img/vanImg/ticks.png");
  background-color: lightgrey;
}

h1, .h1,
h2, .h2,
h3, .h3{
  font-family: 'Oswald', sans-serif;
  color: #37c669;
}

.jumbotron {
    background-image: url(../img/vanImg/dark_wood.png);
    background-color: grey;
}

.jumbotron h1 {
    color: #37c669;
    padding-bottom: 4rem;
}

.postDate {
    padding-bottom: 1.5rem;
    font-size: .8em;
    color: rgba(255, 255, 255, 0.75);
}

.mainpost, .post {
    font-size: 1.25em;
    padding:0 2vw;
    color: #f5fff9;
}

.post {
    background-color: #1d1d1d;
    border-radius: 5px;
    margin-top: 4rem;
}

.lastpost{
    margin-bottom: 10rem;
}

.post img{
    margin-bottom: 2rem;
}

.footer {
    margin-top: 6rem;
    position: fixed;
    bottom:0;
    width: 100%;
    padding: 1.75rem;
    color: lightgrey;
    background-image: url(../img/vanImg/dark_wood.png);
    background-color: grey;
}

a {
    color:#37c669;
}

a:hover, a:active {
    color: greenyellow;
}

.footer a {
    font-size: 1.2em;
}